<!-- Primary Meta Tags -->
<title>@@title</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="title" content="@@title">

<!-- Canonical SEO -->
<link rel="canonical" href="https://volantltd.com" />

<!--  Social tags      -->
<meta name="keywords" content="volant, logistics, volant-courier">
<meta name="description" content="A lifestyle app with all supply chain solutions available easily through our smartphone app and Web app">

<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="Volant courier lifestyle app with all supply chain solutions">
<meta itemprop="description" content="A lifestyle app with all supply chain solutions available easily through our smartphone app and Web app">

 <!-- <meta itemprop="image" content="https://s3.amazonaws.com/creativetim_bucket/products/296/original/opt_impact_thumbnail.jpg"> -->

<!-- Twitter Card data -->
<meta name="twitter:card" content="product">
<meta name="twitter:site" content="@volantltd">
<meta name="twitter:title" content="Volant courier">

<meta name="twitter:description" content="A lifestyle app with all supply chain solutions available easily through our smartphone app and Web app">
<meta name="twitter:creator" content="@volantltd">
 <!-- <meta name="twitter:image" content="https://s3.amazonaws.com/creativetim_bucket/products/296/original/opt_impact_thumbnail.jpg"> -->


<!-- Open Graph data -->

<!-- Favicon -->
<link rel="icon" href="@@path/assets/img/favicon/volant-logo-white.png" type="image/png">

<!-- Fontawesome -->
<link type="text/css" href="@@path_common/vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">

<!-- Nucleo icons -->
<link rel="stylesheet" href="@@path_common/dashboard/assets/vendor/nucleo/css/nucleo.css" type="text/css">

<!-- Prism -->
<link type="text/css" href="@@path_common/vendor/prismjs/themes/prism.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>

<!-- Front CSS -->
<link type="text/css" href="@@path/css/front.css" rel="stylesheet">
<link type="text/css" href="@@path/css/custom.css" rel="stylesheet">
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

@@include('./_tracking.html')